<h1>Welcome to the Triangulation Station</h1>

<form action="/triangle">
  <div class="form-group">
    <label for="sideA">Input the three sides of your triangle:</label>
    <input type="number" min="0" name="sideA">
    <input type="number" min="0" name="sideB">
    <input type="number" min="0" name="sideC">
  </div>
  <button type="submit" class="btn btn-success">Triangle?</button>
</form>
